include {{predict checkedout.project_shortname}}/{{predict checkedout.project_shortname}}.min.js
include {{predict checkedout.project_shortname}}/{{predict checkedout.project_shortname}}.min.js.map
include {{predict checkedout.project_shortname}}/metadata.json
include {{predict checkedout.project_shortname}}/package-info.json
include README.md
include LICENSE
include package.json
